<ion-header>
	<ion-navbar color="silver">
		<ion-title>
			My Orders
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="onRefreshButton()">
        		<ion-icon name="refresh"></ion-icon>
      		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	
	
	<ion-list>
		<ion-list-header class="io">
			New Orders
		</ion-list-header>

		<ion-item *ngFor="let order of orders" (click)="onClickOrder(order)">
			<ion-avatar item-left>
				<img src="assets/img/order-icon.png">
			</ion-avatar>
			<h2>{{ order.title }}</h2> <ion-icon item-right name="ios-arrow-forward"></ion-icon>
			<h3>{{ order.deliveryDate }}</h3>
			<p>{{ order.description }}</p>
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header class="io">
			Delivered Orders
		</ion-list-header>

		<ion-item *ngFor="let orderd of ordersDue" (click)="onClickOrder(orderd)">
			<ion-avatar item-left>
				<img src="assets/img/order-icon.png">
			</ion-avatar>
			<h2>{{ orderd.title }}</h2> <ion-icon item-right name="ios-arrow-forward"></ion-icon>
			<h3>{{ orderd.deliveryDate }}</h3>
			<p>{{ orderd.description }}</p>
		</ion-item>
	</ion-list>


</ion-content>