retailer-page {

    #map2 {
        height: 100%;
    }

	.div1 {
  		width: 100%;
  		position: absolute;
  		z-index: 2;
	}

	.div2 {
  		height: 100%;
  		width: 100%;
  		position: relative;
	}
}
